<%= form_with model: @blog_post do |form| %>

<% if form.object.errors.any? %>
    <div>
        <% form.object.errors.full_messages.each do |m| %>
        <div> <%= m %> </div>
        <% end %>

    </div>
<% end %>

<div>
<%= form.label :title %>
<%= form.text_field :title %>
</div>

<div>
<%= form.label :content %>
<%= form.rich_text_area :content %>
</div>

<div>
<%= form.label :published_at  %>
<%= form.datetime_select :published_at  %>

</div>

<div>
<%= form.button  %>
</div>



<%  end %>
