
<div class="flex space-x-4 p-4">

  <% participants.each do |p| %>
  
      <div style=<%="background-color:#{ p.color || " inherit"};opacity:#{p.archived == true ? "0.3" : "1" };" %> class="w-12 h-12 bg-blue-500 text-white flex flex-col items-center justify-center rounded-full">
        <span class="leading-none font-bold"><%= p.name[0, 2].upcase %> </span>
        <span class="leading-none text-lg "><%= render partial: "points", locals: { id: p.id, total_points: p.total_points }%></span>
        <%= button_to "archive" ,archive_participant_path(p), {class: "h-12 bg-red-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" }%> 
      </div>
  <%end%>
   <%= turbo_frame_tag "new_participant" do %>
    <%= button_to "+ participant", {}, {class: "h-12 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" }%> 
<% end %>
</div>
