<div class="flex space-x-4 p-4">
  <% participants.each do |p| %>
    <div class="relative bg-green-600 text-white flex space-x-4 rounded">
      <span 
        style=<%="background-color:#{ p.color || " inherit"};opacity:#{p.archived == true ? "0.3" : "1" };" %>  
        class="text-2xl m-auto rounded absolute h-full w-16 left-0 top-0 bottom-0">
        <div class="relative w-full h-full flex weird-points-centering">
          <%= render partial: "points", locals: {animate: false, id: p.id, total_points: p.total_points }%>
        </div>
      </span>
      <div class="w-16"></div>
      <span class="m-auto leading-none font-bold text-red-800"><%= p.name[0, 2].upcase %> </span>
      <%#= button_to "archive" ,archive_participant_path(p), {class: "h-12 bg-red-blue-500 hover:bg-blue-700 text-white font-bold " }%>
      <%= link_to "profile", participant_path(p), data: { turbo_frame: "_top" },class: "m-auto px-4"  %>
    </div>
  <%end%>
  <%= turbo_frame_tag "new_participant" do %>
    <%= button_to "+ participant", participants_path, {class: "h-12 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full " }%>
  <% end %>
</div>