<div class="p-12 flex flex-col gap-4">
  <div class="flex">
  <div class="min-w-24 text-slate-400 w-full bg-green-300 dark:bg-slate-800 shadow-md rounded-lg overflow-hidden">
    <div class="bg-blue-500 h-20" style=<%= "background-color:#{@participant.color}"%>></div>
    <div class="flex justify-center -mt-16">
      <%= @participant.avatar %>
    </div>
    <div class="text-center px-6 py-4">
      <h2 class="text-2xl font-semibold text-gray-800"><%= @participant.name %></h2>
      <h2 class=" font-semibold text-gray-600"><%= @participant.total_points %></h2>
    </div>
    <div class="text-center pb-4   ">
      <%= link_to "edit", edit_participant_path(@participant) %>
    </div>
  </div>
  <%= pie_chart  Action.where(participant_id: @participant.id).joins(:task).group("tasks.title").count, donut: true %>

  </div>
  <div class="p-4 shadow-lg rounded bg-green-300 dark:bg-slate-800">
    <h3 > Actions </h3>
    <% @participant.actions.desc.each do |action| %>
      <%= render partial: "actions/action", locals: {action: action, show_delete: true}%>
    <% end %>
  </div>
</div>