<%= turbo_frame_tag action do %>
            <div style=<%="opacity:#{action.participant.archived == true ? "0.3" : "1" };"%> class="space-x-4 m-2 text-slate-200 px-4 py-4 shadow-lg rounded border-cyan-400 flex hover:bg-slate-400 bg-green-400 relative">
                <div class="rounded h-full w-16 absolute left-0 top-0 bottom-0" style=<%="background-color:#{action.participant.color|| "bg-cyan-400"};"%>></div>
                <div class="w-16"></div>
                <div class="font-sans"><%=  action.participant.name  %> </div>
                <div class="font-extrabold">-</div>        
                <div class="font-sans"> <%=  action.task.title  %> <span class="text-green-300 font-semibold">+<%=  action.task.worth  %> </span> </div>
                <div class="font-extrabold">-</div>        
                <div class="font-sans"> <%=  action.created_at  %></div>        
                <%=  button_to "delete", action, method: :delete, data: {turbo_confirm: "Are you sure?" }, class:"top-0 bottom-0 text-red-600 absolute right-0 m-2 font-bold font-medium"  if show_delete == true %>
            </div>
<% end %>