<%= turbo_frame_tag action do %>
  <div style=<%="opacity:#{action.participant.archived == true ? "0.3" : "1" };"%> class="flex-nowrap m-2 text-slate-800 px-4 py-4 shadow-lg rounded border-cyan-400 flex hover:bg-slate-400 bg-green-300 dark:bg-slate-700 dark:text-slate-200 min-w relative">
    <div class="rounded h-full w-16 absolute left-0 top-0 bottom-0" style=<%="background-color:#{action.participant.color|| "bg-cyan-400"};"%>></div>
    <div class="ml-16 font-sans min-w-8 "><%=  action.participant.name  %> </div>
    <div class="font-extrabold">-</div>
    <div class="font-sans"> <%=  action.task.title  %> <span class="text-blue-600 dark:text-green-400 font-semibold">+<%=  action.task.worth  %> </span> </div>
    <div class="font-extrabold">-</div>
    <div class="font-sans"> <%=  action.created_at  %></div>
    <div class="flex-1"></div>
    <%=  button_to t("delete"), action, method: :delete, data: {turbo_confirm: t("confirmMessage") }, class:"top-0 bottom-0 text-red-500 m-2 font-bold font-medium"  if show_delete == true %>
  </div>
<% end %>