<%= turbo_frame_tag "home" do %>
  <%= turbo_frame_tag "participants_list_home" do %>
    <%= render partial: "participants/list", locals: {participants: @participants} %>
  <% end %>
  <div class="home" data-home-edit-mode-value="false" data-controller="home" data-sortable-animation-value="150">
  <label class="inline-flex items-center cursor-pointer">
    <input type="checkbox" value="" class="sr-only peer" data-action="home#toggleEditMode">
    <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-1 peer-focus:ring-blue-600 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"><%= t("edit_mode") %></span>
  </label>
    <div class="flex flex-wrap gap-4 max-sm:justify-center">
    <%= turbo_frame_tag "tasks_list_home", class:"contents" do  %>
      <div data-controller="sortable" data-sortable-handle-value=".sortable-handle" data-sortable-resource-name-value="task" data-sortable-animation-value="150" class="flex flex-wrap gap-4 max-sm:justify-center  ">
        <% @tasks.each do |task| %>
          <%= render partial: "tasks/task", locals: { participants: @participants, task: task }%>
        <%end%>
      </div>
    <%end%>
    <%= turbo_frame_tag "new_task", class: "contents" %>
    <%= link_to new_task_path, data: { turbo_frame: "new_task" }, class: " flex m-4 bg-transparent hover:bg-blue-600 text-blue-800   dark:text-blue-300 font-semibold hover:text-white py-2 px-4 text-xl border dark:border-blue-300 border-blue-600 hover:border-transparent rounded" do %>
      <p class="m-auto"><%= t("addTask") %></p>
    <% end %>
    </div>
  </div>
</div>
<%end%>
<%= turbo_stream_from "participants_points" %>
