
  
  <table class="min-w-full bg-white rounded-lg shadow-md overflow-hidden">
    <thead class="bg-gray-200 border-b-2 border-gray-300">
        <tr>
            <th class="px-6 py-3 text-left text-sm font-semibold text-gray-600">Tasks / Participants</th>
               <% @participants.each do |participant| %>
            <th class="px-6 py-3 text-left text-sm font-semibold text-gray-600">   <div class=" p-2 text-center">participant: <%= participant.name %> <span ><%= participant.avatar %></span></div>
          <div class="p-2 text-center"> <%= render partial: "points", locals: { id: participant.id, total_points: participant.total_points } %></div></th>
          <% end %>

            </tr>
    </thead>
    <tbody>
       <% @tasks.each do |task| %>
        <tr class="border-b border-gray-200 hover:bg-gray-100">
            <td class="px-6 py-4 text-gray-700">      <div class=""><%= task.title %> - points: <%= task.worth %></div></td>
             <% @participants.each do |participant| %>
            <td class="px-6 py-4 text-gray-700">
              <div class="bg-white p-2 border-b border-gray-200 flex justify-center items-center">

          <%= button_to "abhaken! (#{participant.name})",
           { controller: "actions", action:"create" , method:"post",
            data: {task_id: task, participant_id: participant }},
             {class:"bg-blue-500 hover:bg-blue-700 text-white font-bold py-4 px-8 rounded shadow-lg transform hover:scale-105 transition-transform duration-200"} %>

          
        
        </div>
            </td>
            <%end%>
          
        </tr>
        <%end%>
        <!-- More rows as needed -->
    </tbody>
</table>
  
  
  
      <%= turbo_stream_from "participants_points" %>
  </div>