<nav class="bg-blue-600 dark:bg-slate-700 w-full" data-controller="navbar" data-navbar-theme-value="<%= @theme %>">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button data-action="navbar#toggleShowMenu" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">history</span>
          <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start max-h-100">
        <div class="flex flex-shrink-0 items-center font-extrabold text-xl text-zinc-200 font-serif m">
          <div class="relative">
          <%= image_tag("seifenblasen4.png",{ class: "max-h-full w-16 object-contain" }) %>
          </div>
          
          Voluntariness
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%#     data: { turbo_action:"replace" } would update route %>
            <%= link_to t("home"),
                root_path,
                data: { turbo_action:"advance", turbo_frame: "content" },  
                class: "rounded-md bg-cyan-800 dark:bg-slate-800 px-3   py-2 text-sm font-medium text-white" %>
            <%= link_to t("history"),
                actions_path,
                data: { turbo_action:"advance", turbo_frame: "content" },
                class: "rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
            <%= link_to t("statistics"),
                statistics_path,
                data: { turbo_action:"advance", turbo_frame: "content" },
                class: "rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
            <%= link_to t("gambling_link"),
                gambling_path,
                data: { turbo_action:"advance", turbo_frame: "content" },
                class: "rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
            <%= link_to t("participants"),
                participants_path,
                data: { turbo_action:"advance", turbo_frame: "content", turbo: "true" },
                class: "rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
            <%= link_to t("user_settings"),
                settings_path,
                data: { turbo_action:"advance", turbo_frame: "content", turbo: "true" },
                class: "rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <!--
            Dropdown menu, show/hide based on menu state.

            Entering: "transition ease-out duration-100"
              From: "transform opacity-0 scale-95"
              To: "transform opacity-100 scale-100"
            Leaving: "transition ease-in duration-75"
              From: "transform opacity-100 scale-100"
              To: "transform opacity-0 scale-95"
          -->
        </div>
      </div>
      <% if false %>
      <button type="button" 
      class="hidden   inline-flex items-center  <%= @theme == "dark" ? "hidden" : "" %>  gap-x-2 py-2 px-3 bg-white/10 rounded-full text-sm text-white hover:bg-white/20 focus:outline-none focus:bg-white/20" 
       data-action="navbar#setDarkTheme"
        data-navbar-target="darkbutton">
        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
        </svg>
        Dark
      </button>
      <button type="button" 
      class="hidden dark:inline-flex <%= @theme == "dark" ? "" : "hidden" %> items-center gap-x-2 py-2 px-3 bg-white/10 rounded-full text-sm text-white hover:bg-white/20 focus:outline-none focus:bg-white/20" 
       data-action="navbar#setLightTheme"
        data-navbar-target="lightbutton">
        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="4"></circle>
          <path d="M12 2v2"></path>
          <path d="M12 20v2"></path>
          <path d="m4.93 4.93 1.41 1.41"></path>
          <path d="m17.66 17.66 1.41 1.41"></path>
          <path d="M2 12h2"></path>
          <path d="M20 12h2"></path>
          <path d="m6.34 17.66-1.41 1.41"></path>
          <path d="m19.07 4.93-1.41 1.41"></path>
        </svg>
        Light
      </button>
      <% end %>
      <div class=" mx-4">
        <%# app/views/layouts/_navigation.html.erb %>
<%# app/views/layouts/_navbar.html.erb %>

        <%= button_to "logout", destroy_user_session_path, method: :delete, class: "text-white dark:text-slate-200"  %>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu" >
    <div class="space-y-1 px-2 pb-3 pt-2 hidden " data-navbar-target="menu" >
      <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
      <%= link_to t("home"),
                root_path,
                class: "block rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
      <%= link_to t("history"),
                actions_path,
                class: "block rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
      <%= link_to t("statistics"),
                statistics_path,
                class: "block rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
      <%= link_to t("gambling"),
                gamble_path,
                class: "block rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
      <%= link_to t("participants"),
                participants_path,
                class: "block rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>
      <%= link_to t("settings"),
                settings_path,
                class: "block rounded-md bg-cyan-800 dark:bg-slate-800 px-3 py-2 text-sm font-medium text-white" %>

    </div>
  </div>
</nav>
