<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || t('app.name') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="view-transition" content="same-origin" />
  </head>
  <body class=" container mx-auto bg-green-200 dark:bg-slate-600 dark <%# @theme.downcase %>"  id="body" data-turbo-permanent >
    <%= render "layouts/navbar" if user_signed_in? %>
    <div id="flash" class="flash">
      <%= render "layouts/action_flash" %>
    </div>
   <div class="container px-1 py-4 sm:px-2">
      <%= turbo_frame_tag "content" do %>
        <%= yield %>
      <% end %>
    </div>
  </body>
</html>
